@page 
@{
    Layout="_StackOverFlowLayout";
}
@model AddModel

<h1><BOLD>ADD QUESTION.....ADD QUESTION.....ADD QUESTION</BOLD></h1>
<div class="container">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
         <form method = "post">
         <label ><strong>ADD Question:</strong><input size="70" type="text" name="StackQuestion" placeholder="Enter Question" style="background-color:lavender" ></label>
         <br><p><strong>ADD Answer:</strong><textarea name="StackAnswer" placeholder="answer" style="background-color:lavender" rows="10" cols="70" ></textarea></p><br>
         <input type = "submit" value = "submit" />
    </form>
    </div>
    <div class="col-md-3"></div>
    </div>
    </div>
