@page
@{
    Layout = "_StackOverFlowLayout";
}
@model IndexModel1

<div class="text-center">
    <h1 class="display-4" color="blue">Ask Question</h1>
</div>
<div class="container">
    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>